<div class="container">
  <header>
    <h5>Produtos</h5>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xl-12">
        <form class="">
          <input type="search" name="" class="form-control" placeholder="Digite o nome do produto">
        </form>
      </div>
    </div>
  </header>
  <article class="lista-produtos">
    <div class="row"><br></div>
    <ul>
      <li>
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-xl-12">
              <div class="card" style="margin: 5px 0 5px">
                <div class="card-block">
                  <div style="float: left"><img src="" alt="" src="https://www.supernossoemcasa.com.br/e-commerce/api/doc/produto/71520/img/main_image/0/71520_430.jpg?width=800&height=800" width="64" height="64"></div>
                  <div class="col-lg-8">
                    <div class="row">
                      <table>
                        <tbody>
                          <tr>
                            <td style="font-weight: bold; color: red">Arroz Tipo João</td>
                          </tr>
                          <tr>
                            <td>
                              <small>R$ 12,90</small>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </li>
    </ul>
  </article>
</div>
